body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgb(228, 224, 220);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
  width: 100%;
}


.App {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  max-width: none; 
  margin: 0;
}

.App:hover {
  transform: translateY(-10px);
}


.header {
  text-align: center;
  margin-bottom: 40px;
  background-color: rgb(16, 44, 87);
  padding: 20px;
  border-radius: 8px;
}

.header h1 {
  font-size: 2.8rem;
  color:white;  
  font-weight: 600;
}

.header p {
  font-size: 1.2rem;
  color:white;
  margin-top: 10px;
}

.start-btn, .back-btn {
  padding: 12px 20px;
  font-size: 1.1rem;
  color:white;
  background-color:rgb(218, 192, 163);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-btn:hover, .back-btn:hover {
  background-color: rgb(234, 219, 200);
  color:white;
}


.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
  
}

.upload-form input[type="file"] {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid rgb(16, 44, 87);
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
  
}

.upload-form input[type="file"]:focus {
  border-color: rgb(16, 44, 87);
  outline: none;
  background-color:rgb(16, 44, 87);

}

.upload-form button {
  padding: 12px 25px;
  background-color:rgb(16, 44, 87);
  color:white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.upload-form button:hover {
  background-color:rgb(218, 192, 163);
  color:white;
}

.show-more-btn {
  background-color: #E3E1D9;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}


.analysis-results {
  text-align: center;
}

.center-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  font-size: 20px;;
  text-align: center;
}

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 30px;
  border-radius: 12px;
  max-width: 80%;
  
}

.stat-item1 {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid rgb(16, 44, 87);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: rgb(234, 219, 200);
}

.stat-item2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.stat-item {
  background-color: rgb(234, 219, 200);
  border: 1px solid rgb(16, 44, 87);;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 45%;
  height: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.stat-item h3 {
  font-size: 1.5rem;
  color:rgb(16, 44, 87);
}

.stat-item p {
  font-size: 1.2rem;
  color: rgb(16, 44, 87);
  margin-top: 10px;
}

.predicted-prices {
  margin-bottom: 40px;
}

.predicted-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

.predicted-table th,
.predicted-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid rgb(16, 44, 87);
}

.predicted-table th {
  background-color: rgb(16, 44, 87);
  color: white;
}

.predicted-table td {
  background-color: white;
  color:black;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%; 
}

.chart-box {
  width: 100%;
  max-width: 600px; 
  height: 400px; 
  padding: 20px;
  background-color:white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(16, 44, 87);
}


.chart-box h3 {
  font-size: 1.6rem;
  color:black;
  margin-bottom: 20px;
}


.chart-box canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 350px;
  border-radius: 8px;
}


.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.filter-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-input {
  padding: 12px;
  width: 300px;
  font-size: 1rem;
  border: 2px solid rgb(16, 44, 87);
  border-radius: 5px;
  transition: border 0.3s ease;
}

.filter-input:focus {
  border-color: #B4B4B8;
  outline: none;
}

.clear-filter-btn {
  padding: 10px 15px;
  font-size: 1rem;
  background-color:  rgb(16, 44, 87);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-filter-btn:hover {
  background-color: #C7C8CC;
}

.no-results {
  margin-top: 10px;
  color: #FF5733;
  font-style: italic;
}



@media (max-width: 768px) {
  
.charts-container {
  display: flex;
  justify-content: space-between;
  gap: 40px; 
  flex-wrap: wrap;
  width: 100%; 
  margin-top: 20px; 
  margin-bottom: 40px; 
}

.chart-box {
  width: 100%;
  max-width: 600px; 
  height: 400px; 
  padding: 20px;
  background-color:white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 60px; 
}

.chart-box:hover {
  transform: scale(1.03);
}

.chart-box h3 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 20px;
}

.chart-box canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 350px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .charts-container {
    gap: 40px; 
  }

  .chart-box {
    margin-bottom: 40px; 
  }
}

  .stats-box {
    flex-direction: column;
    align-items: center;
  }

  .stat-item {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .filter-input {
    width: 100%;
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 30px; 
}
.text-content {
  flex: 1;
  max-width: 50%; 
}

.text-content h1 {
  font-size: 2.5rem;
  color:rgb(16, 44, 87);
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  color: #4A4A4A;
  margin-bottom: 15px;
}

.start-btn {
  padding: 12px 20px;
  font-size: 1.1rem;
  color: #F2EFE5;
  background-color:  rgb(16, 44, 87);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-btn:hover {
  background-color:rgb(218, 192, 163);
}

.home-page .home-content {
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.image-content {
  flex: 1;
  text-align: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.toggle-columns-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color:  rgb(16, 44, 87);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-columns-btn:hover {
  background-color:rgb(218, 192, 163);
}

.toggle-columns-btn:active {
  transform: scale(0.95);
}

.toggle-columns-btn:focus {
  outline: none;
  box-shadow:  #B4B4B8;
}
.chart-description {
  margin-top: 10px;
  font-size: 14px;
  color: black;
  text-align: center;
  background-color:rgb(234, 219, 200);
  height: 30px;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.save-pdf-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 44, 87);
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color:  rgb(16, 44, 87);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}